{{>header}}
<h1><strong>Bienvenido</strong></h1>
    <h2>Tecnológico de Antioquía - Educación Contínua</h2>
    <br>
        <p>
            res.send('RESPUESTA DESDE INNNNNNNNDEX');
        </p>

{{>footer}}